.container.mt-5.polkadotjs#groups-edit
  .row
    .col-md-9.mx-auto.mb-5
      .card
        .card-body
          %h1 Edit group
          %form{ name: 'groupsEditForm' }
            %input{ name: 'id', value: @id, type: 'hidden' }
            .mb-3
              %label.form-label{ for: 'group-name-input' } Name
              %input.form-control#group-name-input{ name: 'name', required: true }
            .form-check.mb-3
              %input.form-check-input#group-enabled{ type: "checkbox", name: "enabled" }
              %label.form-check-label{ for: "group-enabled" }
                Enabled
            = render 'button_loading', button_classes: 'btn btn-primary', button_type: 'submit', ready_label: 'Update'
