#smart-contracts-index {
  tbody {
    .dt-control::before {
      background-color: var(--vz-blue);
      border: .15em solid var(--vz-white);
      border-radius: 1em;
      box-shadow: 0 0 .2em var(--vz-gray-700);
      box-sizing: content-box;
      color: var(--vz-white);
      content: '+';
      cursor: pointer;
      display: block;
      font-family: 'Courier New', Courier, monospace;
      height: 1em;
      line-height: 1em;
      text-align: center;
      width: 1em;
    }

    .dt-control.expanded::before {
      background-color: var(--vz-red);
      content: '-';
    }

    table {
      th {
        opacity: .5;
      }
    }
  }

  .cell-wrapper-wrapper {
    height: 36px;
    line-height: 36px;
    position: relative;

    .cell {
      bottom: 0;
      box-sizing: border-box;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      .cell-overflow {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .smart-contract-cell {
    .cell {
      line-height: 24px;
    }
  }
}
