#smart-contracts-index {
  tbody {
    .dt-control::before {
      background-color: #337ab7;
      border: .15em solid #fff;
      border-radius: 1em;
      box-shadow: 0 0 .2em #444;
      box-sizing: content-box;
      content: '+';
      color: #fff;
      cursor: pointer;
      display: block;
      font-family: 'Courier New', Courier, monospace;
      height: 1em;
      line-height: 1em;
      text-align: center;
      width: 1em;
    }

    .dt-control.expanded::before {
      background-color: #ed5e5e;
      content: '-';
    }
  }

  .cell-wrapper-wrapper {
    height: 24px;
    line-height: 24px;
    position: relative;

    .cell {
      bottom: 0;
      box-sizing: border-box;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      .cell-overflow {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
