#smart-contracts-index {
  .cell-wrapper-wrapper {
    height: 24px;
    position: relative;

    .cell {
      bottom: 0;
      box-sizing: border-box;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      .cell-overflow {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
