#smart-contracts-new {
  .label-with-hint-container {
    display: flex;

    .form-label {
      line-height: 30px;
      margin-bottom: 0px;
    }

    .ri-question-line {
      font-size: 20px;
    }
  }
}
