.container-fluid.polkadotjs#smart-contracts-index
  .row
    .col-12
      .card
        .card-header.border-0
          .d-flex.align-items-center
            %h5.card-title.mb-0.flex-grow-1 Smart Contracts
            .flex-shrink-0
              .d-flex.flex-wrap.gap-2
                = link_to new_smart_contract_path, class: 'btn btn-primary add-btn' do
                  %i.ri-add-line.align-bottom.me-1
                  New
        .card-body.border.border-dashed.border-end-0.border-start-0
          %form
            .row.g-3
              .col-xxl-5.col-sm-12
                .search-box
                  %input.form-control.search.bg-light.border-light#search-input{ placeholder: 'Search ...', type: 'text', autocomplete: 'off' }
                  %i.ri-search-line.search-icon
              .col-xxl-3.col-sm-4
                %select.form-select#search-by-select
                  %option{ value: 'id' } ID
                  %option{ value: 'address', selected: true } Address
                  %option{ value: 'addedBy' } Added By
                  %option{ value: 'groupName' } Group
                  %option{ value: 'azeroId' } AZERO.ID
        .card-body
          .table-responsive.table-card.mb-4
            %table.table.align-middle.table-nowrap.mb-0#smart-contracts-table
              %thead.table-light.text-muted
                %tr
                  %th{ scope: 'col' }
                  %th{ scope: 'col' } ID
                  %th{ scope: 'col' } Address
                  %th{ scope: 'col' } Caller
                  %th{ scope: 'col' } Actions
              %tbody
