.container-fluid.polkadotjs#smart-contracts-index
  .row
    .col-12
      .card
        .card-header.border-0
          .d-flex.align-items-center
            %h5.card-title.mb-0.flex-grow-1 Smart Contracts
            .flex-shrink-0
              .d-flex.flex-wrap.gap-2
                = link_to new_smart_contract_path, class: 'btn btn-primary add-btn' do
                  %i.ri-add-line.align-bottom.me-1
                  New
        .card-body.border.border-dashed.border-end-0.border-start-0
          .row.g-3
            .col-xxl-6.col-sm-12
              %form.validation-required
                .search-box
                  %input.form-control.search.bg-light.border-light#search-input{ placeholder: 'Search ...', type: 'text', autocomplete: 'off', value: params[:search] }
                  %i.ri-search-line.search-icon
                .invalid-feedback
                  Invalid address.
            .col-xxl-3.col-sm-4
              %select.form-select#search-by-select
                - [{ value: 'nil', label: 'Search by' }, { value: 'id', label: 'ID' }, { value: 'address', label: 'Address' }, { value: 'addedBy', label: 'Added By' }, { value: 'groupName', label: 'Group' }, { value: 'azeroId', label: 'AZERO.id' }].each do |option_details|
                  %option{ disabled: option_details[:value] == 'nil', value: option_details[:value], selected: params[:search_by] == option_details[:value] || (option_details[:value] == 'address' && params[:search_by].blank?) }= option_details[:label]
            .col-xxl-3.col-sm-4
              %select.form-select#status-select
                %option{ value: 'nil', disabled: true } Status
                %option{ value: '', selected: true } All
                %option{ value: 'enabled' } Enabled
                %option{ value: 'disabled' } Disabled
        .card-body
          .table-responsive.table-card.mb-4
            %table.table.align-middle.table-nowrap.mb-0#smart-contracts-table
