.container.mt-5
  .row
    .col-md-9.mx-auto.mb-5
      .card
        .card-body
          .form-control
            %form{ name: 'newForm' }
              .mb-3
                %label.form-label{ for: 'smart-contract-address-input' } Smart contract address
                %input.form-control#smart-contract-address-input
              %button.btn.btn-primary{ type: 'submit' } Submit
