// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap/dist/css/bootstrap.min';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import 'dropzone/src/dropzone';
@import 'toastr/toastr';

// === VELZON ===
@import '../../../lib/assets/css/icons.min';
@import '../../../lib/assets/css/app.min';

// === CUSTOM ===
@import 'smart_contracts/index';

.required::after {
  color: var(--bs-red);
  content: ' *';
}

// === DROPZONE ===
.dropzone {
  border-style: dashed;

  .dz-message {
    margin: 0;
  }

  .dz-preview {
    margin: 0;
    max-width: 100%;

    .dz-image {
      max-width: 100%;
    }
  }

  .dz-progress {
    // We need autoQueue set to false which breaks progress bar
    display: none;
  }
}
