// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap/dist/css/bootstrap.min';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import 'dropzone/src/dropzone';
@import 'toastr/toastr';

label.required:after {
  content: " *";
 	color: red;
}

// === DROPZONE ===
.dz-progress {
  // We need autoQueue set to false which breaks progress bar
  display: none !important;
}