.modal.fade#polkadot-account-list{ 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Select an account
        %button.btn-close{ "aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button" }
      .modal-body
        .list-group.overflow-auto
