.modal.fade#polkadot-account-list{ 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-scrollable.modal-dialog-centered.mw-fit-content
    .modal-content
      .modal-header.pb-0.border-0
        %h3.modal-title Select an account
        .btn.btn-icon.btn-sm.btn-active-light-primary.ms-2{ 'aria-label' => 'Close', 'data-bs-dismiss' => '#polkadot-account-list' }
          %i.bi-x
      .modal-body
        .card
          %ul.list
